.avatar-profil img{
  width: 60px;
  border-radius: 50%;
}

#droite{
  border-radius: 50px;
  background-color: #FFBD59;
  width: 250px;
  height: 250px;
}

.derniere-victoire h2{
  text-align: center;
  margin: 20px auto;
  color: #DA4D43;
  text-shadow: none;
}

.derniere-victoire img {
  width: 50px;
}

.victoire-contre p{
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
}


.main-separation{
  display: flex;
  justify-content: space-between;
}

.user-info-icon{
  display: flex;
  flex-direction: row-reverse;
}

.icon-info{
  display: grid;
}
