.profilcontainer.py-5 {
  max-width: 100vw;
  max-height: 800px;
  margin: 0 auto;
}
.containerpage {
  width:80%;
}
.profil-info{
  height: 100%;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.profil-info-avatar {
  border-radius: 50%;
  border: 5px solid #499A90;
  margin-left: 20px
}

.profil-info-content {
  margin-left: 50px;
}
